.colunaEsquerda {}

/* Etiquetas */
.treeview {
	width: 100%;
}

.treeview ul {
	padding: 0px;
	margin-bottom: 0px;
}

.treeview li {
	list-style: none;
}

.treeview .smoothHover {
	transition: background .2s ease;
}

.treeview span.item {
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 10px 5px;
	color: #058ec4;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.treeview span.indent {
	margin: 0 7px;
}

.treeview span.opcoes {
	float: right;
}

.treeview button {
	font-weight: normal;
}

.treeview button.openClose, .treeview button.votacao, .treeview span.noButton {
	width: 27px;
	height: 26px;
}

.treeview button.openClose, .treeview button.votacao, .treeview button.acoes {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #777777;
}

.treeview button.votacao {
	padding: 1px 0px 0px;
	width: 20px;
}

.treeview button.acoes {
  padding: 1px 5px;
}

.treeview button:hover {
	background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.treeview button:focus {
	outline: none;
}

.treeview span.noButton {
	display: inline-block;
	vertical-align: middle;
}

.treeview .fa-star {
	font-size: 16px;
	color: #fff;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #777;
}

.treeview .fa-star.marcado {
	color: #fff600;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffa500;
}